@font-face {
    font-family: 'weather';
    src: url('fonts/artill_clean_icons-webfont.eot');
    src: url('fonts/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/artill_clean_icons-webfont.woff') format('woff'),
         url('fonts/artill_clean_icons-webfont.ttf') format('truetype'),
         url('fonts/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'PN-sbold';
  src: url('fonts/proxima-nova-semibold.eot');
  src: url('fonts/proxima-nova-semibold.eot?#iefix') format('embedded-opentype'),
       url('fonts/proxima-nova-semibold.woff') format('woff'),
       url('fonts/proxima-nova-semibold.ttf')  format('truetype'),
       url('fonts/PN-sbold.svg#PN-sbold') format('svg');
}

@font-face {
    font-family: 'freightsans_probook';
    src: url('fonts/freigsanprobook-webfont.eot');
    src: url('fonts/freigsanprobook-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/freigsanprobook-webfont.woff') format('woff'),
         url('fonts/freigsanprobook-webfont.ttf') format('truetype'),
         url('fonts/freigsanprobook-webfont.svg#freightsans_probook') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
}

html,body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

header{
  color: #79bde0;
  font-family: PN-sbold;
  height:30%;
  text-align: center;
  background-color: #f6e579;
  margin-bottom: 4% !important;
}

p{
  position: relative;
  bottom:30px;
}

figure{
  margin: 0;
  padding: 0;
  display: inline-block;
}

body {
    font: 1em/1.67 'Open Sans', Arial, Sans-serif;
    margin: 0;
}

p{
  margin: 0;
  padding: 0;
  display: inline-block;
}

i {
  color: #FF5359;
  font-family: weather;
  font-size: 6em;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-style: normal;
}

h2{
  font-size: 2.5em;
}

section.emoji{
  display: block;
  font-family: "freightsans_probook";
  font-size: 2em;
  max-width: 60vw;
  line-height: 36px;
  color: #444;
  text-align: justify;
  margin: auto !important;
}

:-moz-any(.masonry){
  margin: 0 0 60px 0 !important;
}

div img {
max-width: 100%;
height: auto;
display: block;
}

.lorem{
  width: 200px;
}

.masonry {
    padding: 0;
    margin: 0;
    -moz-column-gap: 6px;
    -webkit-column-gap: 6px;
    column-gap: 6px;
}

.item {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-bottom: 3px 0 !important;
    border-radius: 20px;
}

@media only screen and (min-width: 700px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 900px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (max-width: 1025px) {
    i{
      font-size: 4em;
    }

    h2{
      font-size: 1.5em;
    }

}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }